# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Build and distribution
dist/
build/
*.egg-info/
# Add the following lines to ignore specific dist files
*.whl
*.tar.gz

# Jupyter Notebooks
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Mypy
.mypy_cache/

# Poetry
poetry.lock

# Kubernetes
kubeconfig

# CSV files (if you want to ignore all CSV files)
*.csv

# YAML files (if you want to ignore all YAML files except karpenter-config.yaml)
*.yaml
!karpenter-config.yaml

# Add this line if you want to track eks_config.csv
!eks_config.csv

# Ignore run_publish.sh script
run_publish.sh

# Python-related ignores (if not already present)
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Add this line to ignore the secret scan results file
secret_scan_results.txt
